
*.meta

*.gz

torch/data/cifar-10-batches-py/data_batch_2

torch/data/cifar-10-batches-py/data_batch_5

torch/data/cifar-10-batches-py/data_batch_4

*.html

torch/data/cifar-10-batches-py/data_batch_1

torch/data/cifar-10-batches-py/data_batch_3

torch/.ipynb_checkpoints/torch_ex1-checkpoint.ipynb

torch/.ipynb_checkpoints/torch_ex2-checkpoint.ipynb

torch/data/cifar-10-batches-py/test_batch

torch/.ipynb_checkpoints/shampoo_analysis-checkpoint.ipynb

torch/.ipynb_checkpoints/shampoo_analysis_2-checkpoint.ipynb
